<% if params[:question].include? "?"
    answer = "Silly question, get dressed and go to work!"
  elsif params[:question] === "I am going to work"
    answer = "Great!"
  else
    answer = "I don't care, get dressed and go to work!"
end %>

<h1>Stupid coaching</h1>

<blockquote><p><%=params[:question]%></p>
<p>- You</p></blockquote>

<p><%= answer %></p>
<p>- Your coach</p>

<%= link_to("Ask a new question", ask_path)%>
